.form {
  border: 5px solid #0050ff;
  border-radius: 5px;
  padding: 30px;
}

form {
  display: flex;
  flex-direction: column;
}
.submit {
  padding: 10px;
  align-self: center;
  background-color: #005eff;
  border-color: #005eff;
  border-radius: 3px;
  color: white;
  font-weight: 2px;
}
